Non-functional requirements

- Alta disponibilidad
- Escalado horizontal
- Desacoplamiento
- Bajo coste de desarrollo y mantenimiento
- Registro y supervisión de la aplicación
- Cobertura mínima del 50
- Consistencia en los registros de la BD
- Utilizar plugins/adaptadores 
- Desarrollo en typescript 
- Bifurcación de repositorios 
- Aplicar arquitectura hexagonal y patrón de repositorio
- Implementar versionado mediante etiquetas
- Estructura definida para los commits
- Documentación de la estructura del repositorio
- Utilizar un formateador de código
. Utilizar adaptadores/plugins para las dependencias utilizadas en el proyecto
- Documentación utilizando Swagger
- Diagramas de secuencia para cada funcionalidad
- Tratamiento de errores y documentación de los códigos de error
- Implementación de CI/CD